.navbar-checkbox:checked~.navbar-menu {
  position: absolute;
}

.navbar-fixed {
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  /*box-shadow: 0 1px 3px rgba(0, 0, 0, 0.7), 0 1px 2px rgba(0, 0, 0, 0.24);*/
}

.navbar-hamburger span, .navbar-hamburger span::before, .navbar-hamburger span::after {
  display: block;
  height: 2px;
  width: 26px;
  transition: 0.6s ease;
}

.navbar-checkbox:checked~.navbar-menu li .navbar-hamburger span {
  background-color: transparent;
}

.navbar-checkbox:checked~.navbar-menu li .navbar-hamburger span::before, .navbar-checkbox:checked~.navbar-menu li .navbar-hamburger span::after {
  margin-top: 0;
}

.navbar-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  height: 48px;
}

.navbar-menu-right .navbar-hamburger {
  margin-left: auto;
}

.navbar-brand {
  font-size: 1.6em;
  padding: 13px 24px 13px 24px;
}

.navbar-menu {
  min-height: 48px;
  transition: 0.6s ease;
  width: 100%;
}

.navbar-navigation {
  display: flex;
  flex-direction: column;
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.navbar-menu a, .navbar-item a {
  text-decoration: none;
  color: inherit;
  cursor: pointer;
}

.navbar-item {
  height: 48px;
}

.navbar-item a {
  padding: 13px 24px 13px 24px;
  display: block;
}

.navbar-hamburger {
  padding: 13px 24px 13px 24px;
  position: relative;
  cursor: pointer;
}

.navbar-hamburger span::before, .navbar-hamburger span::after {
  content: '';
  position: absolute;
}

.navbar-hamburger span::before {
  margin-top: -8px;
}

.navbar-hamburger span::after {
  margin-top: 13px;
}

.navbar-checkbox {
  display: none;
}

.navbar-checkbox:not(:checked)~.navbar-menu {
  overflow: hidden;
  height: 48px;
}

.navbar-checkbox:checked~.navbar-menu {
  transition: height 0.6s ease;
  height: 100vh;
  overflow: auto;
}

.dropdown {
  position: relative;
  height: auto;
  min-height: 48px;
}

.dropdown:hover>ul {
  position: relative;
  display: block;
  min-width: 100%;
}

.dropdown>a::after {
  position: absolute;
  content: '';
  right: 10px;
  top: 25px;
  border-width: 5px 5px 0;
  border-color: transparent;
  border-style: solid;
}

.dropdown>ul {
  display: block;
  overflow-x: hidden;
  list-style: none;
  padding: 0;
}

.dropdown>ul .navbar-item {
  min-width: 100%;
  height: 29px;
  padding: 5px 10px 5px 40px;
}

.dropdown>ul .navbar-item a {
  min-height: 29px;
  line-height: 29px;
  padding: 0;
}

@media screen and (min-width: 768px) {
  .navbar-navigation {
    flex-flow: row;
    justify-content: flex-end;
  }
  .navbar-hamburger {
    display: none;
  }
  .navbar-checkbox:not(:checked)~.navbar-menu {
    overflow: visible;
  }
  .navbar-checkbox:checked~.navbar-menu {
    height: 48px;
  }
  .navbar-menu .navbar-item {
    border-top: 0;
  }
  .navbar-menu-right .navbar-header {
    margin-right: auto;
  }
  .dropdown {
    height: 48px;
  }
  .dropdown:hover>ul {
    position: absolute;
    left: 0;
    top: 48px;
    padding: 0;
  }
  .dropdown>ul {
    display: none;
  }
  .dropdown>ul .navbar-item {
    padding: 5px 10px;
  }
  .dropdown>ul .navbar-item a {
    white-space: nowrap;
  }
}

.navbar-checkbox:checked+.navbar-menu .navbar-hamburger-doublespin span::before {
  transform: rotate(225deg);
}

.navbar-checkbox:checked+.navbar-menu .navbar-hamburger-doublespin span::after {
  transform: rotate(-225deg);
}

.navbar-menu-color, .navbar-menu-color .dropdown ul {
  background-color: #0e0e0e;
  /*color: #d4d4d4;*/
}

.navbar-item {
  font-size: 14px;
  color: #707070;
  transition: all 0.2s;
}

.navbar-brand {
  color: #d4d4d4;
}

.navbar-item:hover {
  background-color: #151515;
  color: #d4d4d4;
}

.navbar-menu-color .active {
  background: #292929;
  color: #d4d4d4;
}

.navbar-menu-color .navbar-hamburger span, .navbar-menu-color .navbar-hamburger span::before, .navbar-menu-color .navbar-hamburger span::after {
  background-color: #d4d4d4;
}