/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
.padding-top.v10 {
    padding-top: 10px;
}

.padding-top.v20 {
    padding-top: 20px;
}

.padding-top.v30 {
    padding-top: 30px;
}

.padding-top.v40 {
    padding-top: 40px;
}

.padding-top.v50 {
    padding-top: 50px;
}
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
.padding-bottom.v10 {
    padding-bottom: 10px;
}

.padding-bottom.v20 {
    padding-bottom: 20px;
}

.padding-bottom.v30 {
    padding-bottom: 30px;
}

.padding-bottom.v40 {
    padding-bottom: 40px;
}

.padding-bottom.v50 {
    padding-bottom: 50px;
}
.padding-bottom.v110 {
    padding-bottom: 80px;
}
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
.margin-top.v10 {
    margin-top: 10px;
}

.margin-top.v20 {
    margin-top: 20px;
}

.margin-top.v30 {
    margin-top: 30px;
}

.margin-top.v40 {
    margin-top: 40px;
}

.margin-top.v50 {
    margin-top: 50px;
}
.margin-top.v110 {
    margin-top: 110px;
}
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
.margin-bottom.v10 {
    margin-bottom: 10px;
}

.margin-bottom.v20 {
    margin-bottom: 20px;
}

.margin-bottom.v30 {
    margin-bottom: 30px;
}

.margin-bottom.v40 {
    margin-bottom: 40px;
}

.margin-bottom.v50 {
    margin-bottom: 50px;
}
.margin-bottom.v110 {
    margin-bottom: 110px;
}
/*＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝＝*/
