@media print, screen and (min-width: 768px) {
    @font-face {
        font-family: 'Mincho';
        src: url(../fonts/YuMincho/Standard.ttf);
    }
    @font-face {
        font-family: 'Gothic';
        src: url(../fonts/YuGothic/Standard.ttc);
    }
    html {
        scroll-behavior: smooth;
    }
    body {
        font-family: 'Mincho', serif;
        font-size: 16px;
        line-height: 22px;
        color: #d4d4d4;
        background-color: #1e1e1e;
    }
    a {
        text-decoration: none;
        color: #d4d4d4;
    }
    .color.gray {
        color: #727272;
    }
    .color.red {
        color: #d42424;
    }
    .color.yellow {
        color: #d4d400;
    }
    .color.purple {
        color: #db32db;
    }
    .color.blue {
        color: #00d9ff;
    }
    .content {}
    .line {
        margin: 0 3vw;
        padding: 0;
        border-top: 1px solid #d4d4d4;
    }
    .container {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 88vw;
        padding: 10px 0;
        overflow: hidden;
        height: auto;
    }
    .container .center {
        position: relative;
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
        padding: auto;
        width: 86vw;
        float: none;
    }
    .container .left {
        position: relative;
        margin-top: auto;
        margin-bottom: auto;
        padding: auto;
        width: 42.5vw;
        float: left;
        left: 1vw;
    }
    .container .right {
        position: relative;
        width: 42.5vw;
        float: right;
        right: 1vw;
    }
    h1 {
        font-size: 50px;
        line-height: 56px;
    }
    h2 {
        font-size: 70px;
        line-height: 76px;
    }
    h3 {
        font-size: 27px;
        line-height: 33px;
    }
    .read_content {
        font-size: 16px;
        line-height: 22px;
    }
    .read_content.news {
        padding: 50px 0;
        background: #292929;
    }
    .read_content.b {
        font-size: 22px;
        line-height: 28px;
    }
    .ruby {
        font-size: 16px;
        line-height: 22px;
    }
    .new_mix_text {
        font-size: 30px;
        line-height: 36px;
    }
    a.btn {
        margin-left: auto;
        margin-right: auto;
        color: #707070;
        display: block;
        position: relative;
        padding: 10px 0 10px;
        width: 150px;
        border: 1px solid #707070;
        transition: all 0.3s;
    }
    a.btn:hover {
        color: #d4d4d4 !important;
        background-color: transparent;
        border: 1px solid #d4d4d4;
    }
    .border {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #d4d4d4;
    }
    .shadow {
        border: 1px solid #0e0e0e;
    }
    .p_margin {
        margin-top: -40px;
    }
    .p_margin2 {
        margin-top: -20px;
    }
    .p_padding {
        padding-top: -40px;
    }
    .p_padding2 {
        padding-top: -20px;
    }
}