@media screen and (max-width: 768px) {
    @font-face {
        font-family: 'Mincho';
        src: url(../fonts/YuMincho/Standard.ttf);
    }
    @font-face {
        font-family: 'Gothic';
        src: url(../fonts/YuGothic/Standard.ttc);
    }
    html {
        scroll-behavior: smooth;
    }
    body {
        font-family: 'Mincho', serif;
        font-size: 16px;
        line-height: 20px;
        color: #d4d4d4;
        background-color: #1e1e1e;
    }
    a {
        text-decoration: none;
    }
    .color.gray {
        color: #727272;
    }
    .color.red {
        color: #d42424;
    }
    .color.yellow {
        color: #d4d400;
    }
    .color.purple {
        color: #db32db;
    }
    .color.blue {
        color: #00d9ff;
    }
    .content {}
    .line {
        margin: 30px 3vw 50px;
        border-top: 1px solid #d4d4d4;
    }
    .container.top {
        margin-bottom: -35px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: 88vw;
        padding: 5px 0 5px;
    }
    .container {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 88vw;
        padding: 5px 0;
        overflow: hidden;
        height: auto;
    }
    .container .center {
        position: relative;
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
        padding: auto;
        width: 86vw;
    }
    .container .left {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 86vw;
    }
    .container .right {
        margin-top: 5px;
        position: relative;
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
        width: 86vw;
    }
    h1 {
        font-size: 25px;
        line-height: 27px;
    }
    h2.home {
        font-size: 28px;
        line-height: 30px;
    }
    h2 {
        font-size: 35px;
        line-height: 37px;
    }
    h3 {
        font-size: 18px;
        line-height: 20px;
    }
    .read_content {
        font-size: 12px;
        line-height: 14px;
    }
    .read_content.news {
        padding: 30px 0;
        background: #292929;
    }
    .read_content.b {
        font-size: 11px;
        line-height: 13px;
    }
    .ruby {
        font-size: 13px;
        line-height: 15px;
    }
    .new_mix_text {
        font-size: 27px;
        line-height: 29px;
    }
    a.btn {
        margin-left: auto;
        margin-right: auto;
        color: #707070;
        cursor: pointer;
        display: block;
        position: relative;
        padding: 10px 0 10px;
        width: 150px;
        border: 1px solid #707070;
        transition: all 0.3s;
    }
    a.btn:hover {
        color: #d4d4d4 !important;
        background-color: transparent;
        border: 1px solid #d4d4d4;
    }
    .youtube {
        position: relative;
        padding-bottom: 56.25%;
        /*アスペクト比 16:9の場合の縦幅*/
        height: 0;
        overflow: hidden;
    }
    .youtube iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .soundcloud {
        position: relative;
        padding-bottom: 56.25%;
        /*アスペクト比 16:9の場合の縦幅*/
        height: 0;
        overflow: hidden;
    }
    .soundcloud iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .image {
        position: relative;
        padding-bottom: 100%;
        height: 0;
        overflow: hidden;
    }
    .image img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .border {
        padding: 8px;
        margin-bottom: 5px;
        border: 1px solid #d4d4d4;
    }
    .shadow {
        border: 1px solid #0e0e0e;
    }
    .m_margin {
        margin-bottom: -40px;
    }
    .m_margin2 {
        margin-bottom: -20px;
    }
    .m_margin3 {
        margin-bottom: -15px;
    }
    .m_margin_5 {
        margin-bottom: -5px;
    }
    .m_margin_10 {
        margin-bottom: -10px;
    }
    .m_margin_20 {
        margin-bottom: -20px;
    }
    .m_margin_25 {
        margin-bottom: -25px;
    }
    .m_margin_30 {
        margin-bottom: -30px;
    }
    .m_margin_45 {
        margin-bottom: -45px;
    }
    .m_padding {
        padding-top: -40px;
    }
    .m_padding2 {
        padding-top: -20px;
    }
    .m_padding-top.v50 {
        padding-top: 50px;
    }
    .m_margin-top.v20 {
        margin-top: 20px;
    }
}