@media screen and (max-width: 768px) {
    @font-face {
        font-family: 'Mincho';
        src: url(../fonts/YuMincho/Standard.ttf);
    }
    @font-face {
        font-family: 'Gothic';
        src: url(../fonts/YuGothic/Standard.ttc);
    }
    html {
        scroll-behavior: smooth;
    }
    body {
        font-family: 'Mincho', serif;
        font-size: 16px;
        line-height: 22px;
        color: #d4d4d4;
        background-color: #1e1e1e;
    }
    a {
        text-decoration: none;
    }
    .color.gray {
        color: #727272;
    }
    .color.red {
        color: #d42424;
    }
    .color.yellow {
        color: #d4d400;
    }
    .color.purple {
        color: #db32db;
    }
    .color.blue {
        color: #00d9ff;
    }
    .content {}
    .line {
        margin: 30px 3vw 50px;
        border-top: 1px solid #d4d4d4;
    }
    .container.top {
        margin-top: -60px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: 88vw;
        padding: 25px 0 25px;
        height: 45px;
    }
    .container.profile {
        margin-top: -70px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: 88vw;
        padding: 50px 0 50px;
        /*height: 550px;*/
    }
    .container.request {
        margin-top: -70px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: 88vw;
        padding: 50px 0 50px;
    }
    .container {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: 88vw;
        padding: 50px 0 50px;
    }
    .container .center {
        margin-top: 0px;
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
        width: 86vw;
    }
    .container .left {
        margin-top: -60px;
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
        width: 86vw;
    }
    .container .right {
        margin-top: 80px;
        margin-bottom: 0px;
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
        width: 86vw;
    }
    h1 {
        font-size: 25px;
    }
    h2 {
        font-size: 35px;
    }
    .read_content {
        font-size: 14px;
        margin-top: 5px;
    }
    .read_content.b {
        font-size: 14px;
        margin-top: 5px;
    }
    .ruby {
        font-size: 13px;
        margin-top: 1px;
    }
    .new_mix {
        font-size: 27px;
    }
    a.btn {
        margin-left: auto;
        margin-right: auto;
        color: #707070;
        cursor: pointer;
        display: block;
        position: relative;
        padding: 10px 0 10px;
        width: 150px;
        border: 1px solid #707070;
        transition: all 0.3s;
    }
    a.btn:hover {
        color: #d4d4d4 !important;
        background-color: transparent;
        border: 1px solid #d4d4d4;
    }
    .youtube {
        position: relative;
        padding-bottom: 56.25%;
        /*アスペクト比 16:9の場合の縦幅*/
        height: 0;
        overflow: hidden;
    }
    .youtube iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .soundcloud {
        content: '<br>';
        position: relative;
        padding-bottom: 56.25%;
        /*アスペクト比 16:9の場合の縦幅*/
        height: 0;
        overflow: hidden;
    }
    .soundcloud iframe {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .image {
        position: relative;
        padding-bottom: 100%;
        height: 0;
        overflow: hidden;
    }
    .image img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
    }
    .request_mix {
        height: 1700px;
        margin-top: -80px;
    }
    .illustration {
        height: 340px;
        margin-top: -80px;
    }
    .movie {
        height: 170px;
        margin-top: -80px;
    }
    .music {
        /*height: 360px;*/
        margin-top: 20px;
    }
    .novel {
        height: 40px;
        margin-top: -60px;
    }
    .distribution {
        height: 40px;
        margin-top: -60px;
    }
    .m_margin {
        margin-bottom: -40px;
    }
    .m_margin2 {
        margin-bottom: -20px;
    }
    .m_padding {
        padding-top: -40px;
    }
    .m_padding2 {
        padding-top: -20px;
    }
}