@media print, screen and (min-width: 768px) {
    @font-face {
        font-family: 'Mincho';
        src: url(../fonts/YuMincho/Standard.ttf);
    }
    @font-face {
        font-family: 'Gothic';
        src: url(../fonts/YuGothic/Standard.ttc);
    }
    html {
        scroll-behavior: smooth;
    }
    body {
        font-family: 'Mincho',serif;
        font-size: 16px;
        line-height: 22px;
        color: #d4d4d4;
        background-color: #1e1e1e;
    }
    a {
        text-decoration: none;
        color: #d4d4d4;
    }
    .color.gray {
        color: #727272;
    }
    .color.red {
        color: #ff2c2c;
    }
    .color.yellow {
        color: #ffff37;
    }
    .color.purple {
        color: #db32db;
    }
    .color.blue {
        color: #00d9ff;
    }
    .color.dark_blue {
        color: #2a27e0;
    }
    .line {
        margin: 0 3vw;
        padding: 0;
        border-top: 1px solid #d4d4d4;
    }
    .contents {
        text-align: center;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 920px;
        max-width: 920px;
        padding: 10px 0;
        overflow: hidden;
        height: auto;
    }
    .contents .container:nth-of-type(n+2) {
        margin-top: 40px;
    }
    h1 {
        font-size: 50px;
        line-height: 56px;
    }
    h2 {
        font-size: 70px;
        line-height: 76px;
    }
    h3 {
        font-size: 27px;
        line-height: 33px;
    }
    h4 {
        font-size: 24px;
        line-height: 30px;
    }
    h5 {
        font-size: 22px;
        line-height: 28px;
    }
    .read_content {
        font-size: 16px;
        line-height: 22px;
    }
    .read_content.news {
        padding: 50px 0;
        background: #292929;
    }
    .read_content.b {
        font-size: 22px;
        line-height: 28px;
    }
    .ruby {
        font-size: 16px;
        line-height: 22px;
    }
    .new_mix_text {
        font-size: 30px;
        line-height: 36px;
    }
    a.btn {
        margin-left: auto;
        margin-right: auto;
        color: #707070;
        display: block;
        position: relative;
        padding: 10px 0 10px;
        width: 150px;
        border: 1px solid #707070;
        transition: all 0.3s;
    }
    a.btn:hover {
        color: #d4d4d4 !important;
        background-color: transparent;
        border: 1px solid #d4d4d4;
        background: #212121;
    }
    .border {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #d4d4d4;
    }
    .border2 {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #d4d4d444;
    }
    .shadow {
        border: 1px solid #0e0e0e;
    }
    .p_margin {
        margin-top: -40px;
    }
    .p_margin2 {
        margin-top: -20px;
    }
    .p_padding {
        padding-top: -40px;
    }
    .p_padding2 {
        padding-top: -20px;
    }
}