@media print, screen and (min-width: 768px) {
    @font-face {
        font-family: 'Mincho';
        src: url(../fonts/YuMincho/Standard.ttf);
    }
    @font-face {
        font-family: 'Gothic';
        src: url(../fonts/YuGothic/Standard.ttc);
    }
    html {
        scroll-behavior: smooth;
    }
    body {
        font-family: 'Mincho', serif;
        font-size: 16px;
        line-height: 22px;
        color: #d4d4d4;
        background-color: #1e1e1e;
    }
    a {
        text-decoration: none;
        color:#d4d4d4;
    }
    .color.gray {
        color: #727272;
    }
    .color.red {
        color: #d42424;
    }
    .color.yellow {
        color: #d4d400;
    }
    .color.purple {
        color: #db32db;
    }
    .color.blue {
        color: #00d9ff;
    }
    .content {}
    .line {
        margin: 30px 3vw;
        border-top: 1px solid #d4d4d4;
    }
    .container.top {
        margin-top: -30px;
        position: relative;
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: 88vw;
        padding: 25px 0 25px;
        height: 100px;
    }
    .container.profile {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: 88vw;
        padding: 50px 0 50px;
        height: 550px;
    }
    .container {
        position: relative;
        margin-left: auto;
        margin-right: auto;
        float: none;
        width: 88vw;
        padding: 50px 0 50px;
        height: 300px;
    }
    .container .center {
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
        width: 86vw;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .container .left {
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
        width: 43vw;
        float: left;
        position: absolute;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    .container .right {
        vertical-align: middle;
        margin-left: auto;
        margin-right: auto;
        width: 43vw;
        float: right;
        position: absolute;
        right: 0;
        top: 50%;
        -ms-transform: translateY(-50%);
        -webkit-transform: translateY(-50%);
        transform: translateY(-50%);
    }
    h1 {
        font-size: 50px;
    }
    h1.home {
        font-size: 70px;
    }
    h2 {
        font-size: 70px;
    }
    h3 {
        font-size: 27px;
        line-height: 27px;
    }
    .read_content {
        font-size: 16px;
        margin-top: 5px;
    }
    .read_content.b {
        font-size: 22px;
        margin-top: 30px;
    }
    .ruby {
        font-size: 16px;
        margin-top: 16px;
    }
    .new_mix {
        font-size: 30px;
    }
    a.btn {
        margin-left: auto;
        margin-right: auto;
        color: #707070;
        cursor: pointer;
        display: block;
        position: relative;
        padding: 10px 0 10px;
        width: 150px;
        border: 1px solid #707070;
        transition: all 0.3s;
    }
    a.btn:hover {
        color: #d4d4d4 !important;
        background-color: transparent;
        border: 1px solid #d4d4d4;
    }
    .request_mix {
        height: 1750px;
        margin-top: -20px;
    }
    .p_margin{
        margin-top:-40px;
    }
    .p_margin2{
        margin-top:-20px;
    }
    .p_padding{
        padding-top:-40px;
    }
    .p_padding2{
        padding-top:-20px;
    }
}