@media print, screen and (min-width: 768px) {
    html {
        scroll-behavior: smooth;
    }
    body {
        font-family: Arial, Helvetica, sans-serif;
        font-size: 13px;
        line-height: 15px;
        color: #d4d4d4;
        background-color: #1e1e1e;
    }
    a {
        text-decoration: none;
        color: #d4d4d4;
    }
    .color.gray {
        color: #727272;
    }
    .color.red {
        color: #ff2c2c;
    }
    .color.yellow {
        color: #ffff37;
    }
    .color.purple {
        color: #db32db;
    }
    .color.blue {
        color: #00d9ff;
    }
    .color.dark_blue {
        color: #2a27e0;
    }
    .line {
        margin: 0 3vw;
        padding: 0;
        border-top: 1px solid #d4d4d4;
        
    }
    .contents {
        /*text-align: center;*/
        position: relative;
        margin-left: auto;
        margin-right: auto;
        width: 920px;
        max-width: 920px;
        padding: 10px 0;
        overflow: hidden;
        height: auto;
    }
    .contents .container:nth-of-type(n+2) {
        margin-top: 20px;
    }
    h1 {
        font-size: 40px;
        line-height: 46px;
    }
    h2 {
        font-size: 50px;
        line-height: 66px;
    }
    h3 {
        font-size: 24px;
        line-height: 31px;
    }
    h4 {
        font-size: 21px;
        line-height: 27px;
    }
    h5 {
        font-size: 19px;
        line-height: 25px;
    }
    .read_content {
        font-size: 13px;
        line-height: 17px;
    }
    .read_content.b {
        font-size: 20px;
        line-height: 24px;
    }
    .ruby {
        font-size: 16px;
        line-height: 22px;
    }
    .new_mix_text {
        font-size: 26px;
        line-height: 36px;
    }
    a.btn {
        /*margin-left: auto;*/
        /*margin-right: auto;*/
        margin-top: 10px;
        text-align: center;
        color: #707070;
        display: block;
        position: relative;
        padding: 6px 0 6px;
        width: 110px;
        border: 1px solid #707070;
        transition: all 0.3s;
    }
    a.btn:hover {
        color: #d4d4d4 !important;
        background-color: transparent;
        border: 1px solid #d4d4d4;
        background: #212121;
    }
    .border {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #d4d4d4;
    }
    .border2 {
        padding: 10px;
        margin-bottom: 10px;
        border: 1px solid #d4d4d444;
    }
    .shadow {
        border: 1px solid #0e0e0e;
    }
    .p_margin {
        margin-top: -40px;
    }
    .p_margin2 {
        margin-top: -20px;
    }
    .p_padding {
        padding-top: -40px;
    }
    .p_padding2 {
        padding-top: -20px;
    }
}