body {
   -ms-writing-mode: tb-rl;
   writing-mode: vertical-rl;
   padding: 30px;
   font-family: 'Hiragino Mincho ProN', serif;
   font-weight: bold;
}

.title {
   font-size: 30px;
   margin-left: -40px;
   padding-bottom: 150px;
}

.name {
   -ms-writing-mode: tb-rl;
   text-align: right;
   font-size: 20px;
   margin-left: 20px;
   margin-left: -10px;
}

.content {
   padding-top: 1em;
   line-height: 1.7;
   margin-left: 20px;
}